footer {
background-color: #24292e;    
height: 55px;
margin: 0 auto;
padding: 0px;
border: 0px;
display: flex;
z-index: 1;
overflow: hidden;
}

footer p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    color: #a18f7b;
}

.footer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}